<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_4_0.xsd" id="WebApp_ID" version="4.0">
  <display-name>servletProject</display-name>
  
  <!-- 메인 페이지로 서용할 파일 명 목록(webapp폴더에 파일 생성) -->
  <welcome-file-list>
    <welcome-file>index.html</welcome-file>
    <welcome-file>index.jsp</welcome-file>
    <welcome-file>index.htm</welcome-file>
    <welcome-file>default.html</welcome-file>
    <welcome-file>default.jsp</welcome-file>
    <welcome-file>default.htm</welcome-file>
  </welcome-file-list>
  
  <!-- 특정 클래스를 Servlet으로 등록하고 이름을 지정하는 태그 -->
  <servlet>
  <!-- 등록된 Servlet을 지칭할 별칭 -->
  	<servlet-name>ex1</servlet-name>
  	
  	<!-- Servlet으로 등록할 클래스의 패키지명 + 클래스명 -->
  	<servlet-class>edu.kh.servlet.controller.ExampleController1</servlet-class>
  </servlet>
  <!-- 요청 주소를 처리할 Servlet을 연결 -->
  <servlet-mapping>
  
  <!-- 연결할 Servlet 이름(별칭) -->
  <servlet-name>ex1</servlet-name>
  
  <!-- 연결할 요청 주소 -->
  <url-pattern>/example1.do</url-pattern>
  
  </servlet-mapping>
  
  
  
  
  
</web-app>