#colorList>li{
    font-size: 24px;
    font-weight: bold;

}

#colorList >  li:nth-child(1){color :red }
#colorList >  li:nth-child(2){color :rgb(255,0,255) }
#colorList >  li:nth-child(3){color : rgba(255, 230, 200, 1)}
#colorList >  li:nth-child(4){color : #abc}
#colorList >  li:nth-child(5){color : #8918f5}
#colorList >  li:nth-child(6){color : hsl(360, 100%, 50%)}
#colorList >  li:nth-child(7){color : hsla(360, 100%, 50%, 0.3)}

#decorationList > li:nth-child(1){text-decoration: overline;}
#decorationList > li:nth-child(2){text-decoration: line-through;}
#decorationList > li:nth-child(3){text-decoration: underline;}
#decorationList > li:nth-child(4)>a {text-decoration: none;}

/* text-align */
#alignTest>p:nth-child(1){text-align: left;}
#alignTest>p:nth-child(2){text-align: right;}
#alignTest>p:nth-child(3){text-align: center;}
#alignTest>p:nth-child(4){text-align: justify;}

/* line-height */
#lineHeight{ line-height: 30px;}

/* letter-spacing */
#letterSpacing{letter-spacing: -0.5.03
    px;}

    /* font-family */
    #fontFamily>li:nth-child(1){font-family: '궁서'}
    #fontFamily>li:nth-child(2){font-family: '궁서체'}
    #fontFamily>li:nth-child(3){font-family: '유민체','궁서체'}
    #fontFamily>li:nth-child(4){font-family: 'Gugi', cursive;
        font-family: 'Nanum Pen Script', cursive;}

    @font-face{
  font-family:'bitbit';
  src:url('//cdn.df.nexon.com/img/common/font/DNFBitBit-Regular.woff'),
  url('//cdn.df.nexon.com/img/common/font/DNFBitBit-Regular.woff2') ;
  font-weight: normal;
}

#fontFamily>li:nth-child(5){font-family: 'bitbit'}

/* 다운 받은 폰트 적용 */
@font-face {
    font-family: 'Nanum';
    src: url(NanumPenScript-Regular.ttf);
    font-weight: normal;
    font-style: normal;
}
#fontFamily>li:nth-child(6){font-family: 'Nanum'}