div{
    border: 1px solid black;
    box-sizing: border-box;
    /* content+padding+border = width/height 
        -> content 조절*/
    
}

pre{
    font-size: 1rem;
    font-family: '고딕';
}

pre>b{
    font-size: 1.5em;
    color: red;

}

pre>i{
    font-size: 1.5em;
}

.item{
    width: 75px;
    height: 75px;
}

.item1{background-color: red;}
.item2{background-color: orange;}
.item3{background-color: yellow;}
.item4{background-color: green;}
.item5{background-color: blue;}
.item6{background-color: navy;}
.item7{background-color: purple;}
.item8{background-color: pink;}
.item9{background-color: brown;}
