<!DOCTYPE html>
<html lang="ko">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>서버에서 에러 발생</title>

    <style>
        img{
            hp: 90vh;
            display: block;
            margin: auto;
        }

        .btn-area{
            text-align: center;
        }

    </style>
</head>
<body>
    <img src="\images\error\500.png" alt="">


        <div class="btn-area">
            <button onclick="location.href='/'">메인 페이지</button>
            <button onclick="history.black()='/'">이전 페이지</button>

        </div>

</body>
</html>