<!DOCTYPE html>
<html lang="ko">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>${boardName}</title>

    <link rel="stylesheet" href="/css/board/boardWrite-style.css">
</head>
<body>
    <main>
        <th:block th:replace="~{/common/header}" ></th:block>
                      
         <!--상대경로
         board2/1/2006/update?cp=1 (GET)
         board2/1/2006/update (POST)-->             
                                <!-- @PathVariable --> 
        <form th:action="@{update}" method="POST" 
        class="board-write" id="boardUpdateFrm" enctype="multipart/form-data">
        <!-- enctype="multipart/form-data" : 제출 데이터 인코딩X 문자열 인식X 
                        -> 파일 제출 가능 
                        -> MultiPartResolver가 문자열, 파일을 구분
                        -> 문자열 -> String, int, DTO, Map (HttpMessageConvert)
                        -> 파일 ->multipart 객체 ->  transferTo() (파일을 서버에 저장)
        -->


            <h1 class="board-name" th:text="${boardName}"></h1>

            <!-- 제목 -->
            <h1 class="board-title">
                <input type="text" name="boardTitle" placeholder="제목" th:value="${board.boardTitle}">
            </h1>

            <!-- board.imageList에 존재하는 이미지 객체를 얻어와 순서(imageOrder) 별로 변수 생성 -->

            <!-- 썸네일 영역 -->
            <h5>썸네일</h5>
            <div class="img-box">
                <div class="boardImg thumbnail">
                    <label for="img0">
                        <img class="preview">
                    </label>
                    <input type="file" name="images" class="inputImage" id="img0" accept="image/*">
                    <span class="delete-image">&times;</span>
                </div>
            </div>


            <!-- 업로드 이미지 영역 -->
            <h5>업로드 이미지</h5>
            <div class="img-box">

                <div class="boardImg">
                    <label for="img1">
                        <img class="preview" >
                    </label>
                    <input type="file" name="images" class="inputImage" id="img1" accept="image/*">
                    <span class="delete-image">&times;</span>
                </div>

                <div class="boardImg">
                    <label for="img2">
                        <img class="preview" >
                    </label>
                    <input type="file" name="images" class="inputImage" id="img2" accept="image/*">
                    <span class="delete-image">&times;</span>
                </div>

                <div class="boardImg">
                    <label for="img3">
                        <img class="preview" >
                    </label>
                    <input type="file" name="images" class="inputImage" id="img3" accept="image/*">
                    <span class="delete-image">&times;</span>
                </div>

                <div class="boardImg">
                    <label for="img4">
                        <img class="preview">
                    </label>
                    <input type="file" name="images" class="inputImage" id="img4" accept="image/*">
                    <span class="delete-image">&times;</span>
                </div>
            </div>

            <!-- 내용 -->
            <div class="board-content">
                <textarea name="boardContent" th:text="${board.boardContent}"></textarea>
            </div>


             <!-- 버튼 영역 -->
             
            <div class="board-btn-area">
                <button type="submit" id="writebtn">등록</button>
            </div>

            <!-- 기존 이미지가 있다가 삭제된 이미지의 순서를 기록 -->

            <input type="hidden" name="deleteList" value=""><!-- 화면에 안 보임 -->

            <!-- 수정 성공 시 주소(쿼리 스트링) 유지용도 -->
            <input type="hidden" name="cp" th:value="${param.cp}">
            
        </form>

    </main>


    <th:block th:replace="~{common/footer}"></th:block>

    <script th:src="@{/js/board/boardUpdate.js}"></script>

</body>
</html>